* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    height: 97vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    background-color: rgb(74, 66, 85);
}

button:hover {
    cursor: pointer;
}


.container {
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}


#start {
    padding: 15px 27px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #cdbe9d;
    font-size: 16px;
    font-weight: bold;
}

#start:hover {
    background-color: #cfb57c;
}

#game-text {
    color: white;
    font-size: 27px;
    margin: 35px 0;

}

.game-container {
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 6px;
    background-color: transparent;
}


.cell {
    background-color: rgb(189, 152, 233);
    font-size: 40px;
    font-weight: bold;
    padding: 0;
    outline: none;
    border: none;
}

.cell:hover {
    background-color: rgb(168, 121, 226);
}

.cell:disabled {
    background-color: rgb(189, 152, 233);
    color: black;
}

.cell:disabled:hover {
    cursor: default;
}